/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
/* Fallback to dark theme when none selected  */
:root,
/* Manually selected */
:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background: #000028;
  --foreground: #f1b2ce;
  --accent: #ff0070;
  --accent-foreground: #000028;
  --button: var(--accent);
  --link-color: var(--foreground);
  --link-shadow-color: var(--accent);

  --decoration: var(--accent);
  --secondary: #db00ff;

  --background-image-url: url("../images/cover-image-dark.png");
}

:root.theme-auto {
  @media (prefers-color-scheme: dark) {
    --background: #000028;
    --foreground: #f1b2ce;
    --accent: #ff0070;
    --accent-foreground: #000028;
    --button: var(--accent);
    --link-color: var(--foreground);
    --link-shadow-color: var(--accent);

    --decoration: var(--accent);
    --secondary: #db00ff;

    --background-image-url: url("../images/cover-image-dark.png");
  }
}
